.main {
  background-color: rgb(240, 235, 235);
  padding: 4%;
  text-align: center; /* Center align the content */
}

.main-title {
  font-weight: bold;
  margin-bottom: 40px;
}

.description {
  padding: 0 10%; /* Increase padding for better readability */
}

.sub-title {
  margin-bottom: 30px;
}

.services {
  margin-top: 50px;
  display: flex; /* Use flexbox to center items */
  justify-content: center; /* Center items horizontally */
  flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
}

.img {
  width: 200px;
  height: 200px;
  margin: auto;
  display: block;
}

.sub-desc {
  margin-top: 40px;
}
