.title {
  font-weight: bold;
  text-align: center;
  font-size: 28px;
}

.card-deck {
  margin-top: 80px;
  margin-bottom: 80px;
}

.card-text {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.btn-explore {
  margin-top: 20px;
  margin-bottom: 1px;
  text-align: center;
  align-items: center;
  margin-left: 30% !important;
}

.card-body:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  border-color: #28a745; /* Change border color on hover */
}

.card {
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Add a shadow on hover */
}
