.custom-date-picker {
    font-family: Arial, sans-serif; /* Change the font family */
    border-radius: 15px; /* Adjust the border radius */
    border: 0.5px solid #ccc; /* Add a border */
    padding: 0.5rem; /* Add padding */
    width: 100%; /* Set the width to 100% */
  }
  
  .custom-container {
    max-width: 90%; /* Adjust the percentage as needed */
    margin: 10 auto;
  }