
.consumerContainer {
    margin-top: 120px !important;
    margin-bottom: 50px !important;
}

.consumer-title {
    text-align: center;
    font-size: 20px;
}

.title {
    text-align: center;
    margin-bottom: 20px;   
    font-weight: bold !important; 
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.consumerProductScreen
{
    margin-top: 100px;
    margin-bottom: 50px;
}
